
 body{
    /* background-color:lightskyblue; */
    margin: 10%;
    padding: 0; 
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 30px;
    line-height: 115%;
    border: 2px solid black;
}

header {
    background-color: lightslategray;
    margin: 5%;
    border: 2px solid black;
    height: 500px;
    }
p { 
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10%;
    font-size: 14px;
}

img {
    width: 350px;
   padding: 2%;
  float: center;
    
}
